<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <title><%= title %></title>
        <script src="https://cdn.jsdelivr.net/npm/p5@1.3.1/lib/p5.js"></script>
        <script src="javascripts/MapDrawing/Classes.js"></script>
        <script src="javascripts/MapDrawing/Main.js"></script>
        <link rel="stylesheet" href="stylesheets/style.css">
    </head>
    <body>
        <div class="main">
            <nav class="navbar navbar-expand-lg">
                <ul class="navbar-nav nav-fill w-50">
                    <li class="nav-item my-2">
                        <button class="btn btn-dark" onClick="cleanCanvas()" id="ClearButton">Clear</button>
                    </li>
                    <li class="nav-item my-2 ">
                        <button class="btn btn-dark btn-outline-light" onClick="changeToolToDraw()" id="DrawButton">Draw</button>
                    </li>
                    <li class="nav-item my-2">
                        <button class="btn btn-dark" onClick="changeToolToErase()" id="EraseButton">Erase</button>
                    </li>
                </ul>
                
                <ul class="navbar-nav nav-fill w-50">
                    <li class="nav-item my-2 ">
                        <button class="btn btn-dark" onClick="changetoMid()" id="MidButton">Middle</button>
                    </li>
                    <li class="nav-item my-2 ">
                        <button class="btn btn-dark" onClick="changetoSecond()" id="SecondButton">Second</button>
                    </li>
                    <li class="nav-item my-2 ">
                        <button class="btn btn-dark" onClick="changetoLast()" id="LastButton">Last</button>
                    </li>
                </ul>
            </nav>
            <div>
                <div id=canvas>
                </div>
                <div id="stickers">
                    <ul>
                        <li id="scoutSticker"></li>
                        <li id="soliderSticker"></li>
                        <li id="demoSticker"></li>
                        <li id="medicSticker"></li>
                    </ul>
                </div>
            </div>
            
                
            
        </div>
    </body>
    <script src="javascripts/MapDrawing/ButtonTracker.js"></script>
</html>