<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <title><%= title %></title>
        <script src="https://cdn.jsdelivr.net/npm/p5@1.3.1/lib/p5.js"></script>
        <script src="javascripts/MapDrawing/Classes.js"></script>
        <script src="javascripts/MapDrawing/Main.js"></script>
        <link rel="stylesheet" href="stylesheets/style.css">
    </head>
    <body>
        <div class="main">
            <nav class="navbar navbar-expand-lg">
                <ul class="navbar-nav nav-fill w-50">
                    <li class="nav-item my-2">
                        <button class="btn btn-dark" onClick="cleanCanvas()">Clear</button>
                    </li>
                    <li class="nav-item my-2">
                        <button class="btn btn-dark" onClick="changeToolToDraw()">Draw</button>
                    </li>
                    <li class="nav-item my-2">
                        <button class="btn btn-dark" onClick="changeToolToErase()">Erase</button>
                    </li>
                </ul>
            </nav>

            <div style="width: 100%; height: 400px;">
                <div id=canvas>
                </div>
            </div>
        </div>
    </body>
</html>